/* -------------------------------------Creating bootstrap yellow class------------------------------------- */

:root {
    --yellow: #feb546;
}

.bg-yellow {
    --bs-bg-opacity: 1;
    background-color: var(--yellow) !important;
    color: #fff;
}

.border-yellow {
    border: solid 2px var(--yellow);
}

.btn-yellow {
    color: #fff !important;
    background-color: var(--yellow) !important;
    border-color: var(--yellow) !important;
}

.btn-yellow:hover {
    color: var(--yellow) !important;
    background-color: var(--white) !important;
    border-color: var(--yellow) !important;
}


/* -------------------------------------Creating bootstrap red class------------------------------------- */

:root {
    --red: #e03268;
}

.bg-red {
    --bs-bg-opacity: 1;
    background-color: var(--red) !important;
    color: #fff;
}

.border-red {
    border: solid 2px var(--red);
}

.btn-red {
    color: #fff;
    background-color: var(--red);
    border-color: var(--red);
}

.btn-red:hover {
    color: var(--red);
    background-color: var(--white);
    border-color: var(--red);
}


/* -------------------------------------Creating bootstrap green class------------------------------------- */

:root {
    --green: #3dc7b9;
}

.bg-green {
    --bs-bg-opacity: 1;
    background-color: var(--green) !important;
    color: #fff;
}

.border-green {
    border: solid 2px var(--green);
}

.btn-green {
    color: #fff;
    background-color: var(--green);
    border-color: var(--green);
}

.btn-green:hover {
    color: var(--green);
    background-color: var(--white);
    border-color: var(--green);
}

/* -------------------------------------general------------------------------------- */


* {
color: #07085b;
font-family: 'Montserrat', sans-serif;
font-size: light;
}

h1 {
color: #07085b;
text-align: center;
font-size: 2em;
}


h3 {
color: #07085b;
text-align: center;
font-size: 1.4em;
}

.input {
    border-radius: 0.3em;
}

nav {
    overflow: hidden;
    position: fixed;
    height: 100vh;
    }
    
.book_img {
        width: 5em;
}

.lowrad {
    border-radius: 5px;
}

.font-larger {
    font-size: larger;
}

main {
    position: relative;
    left: 10vw;
}

main section{
margin-bottom: 90px;
}

footer{
	position: relative;
    bottom: 0;
    z-index: -1;
}

/* -------------------------------------Livres------------------------------------- */

#books_length{
display: inline-block;
align-content: center;
margin-bottom: 2.5em;

}

#books_filter{
margin-bottom:2.5em;
}

#books_wrapper{
width: 80%;
/* margin-left:11em; */
margin: 3em auto;
text-align: center !important;
justify-content: center !important;
}

table.dataTable thead .sorting {
background-image:none !important;
}


tbody, td, tfoot, th, thead, tr {
 border: none !important;
}

table.dataTable thead th, table.dataTable thead td {
padding: 10px 18px !important;
border-bottom: solid 3px var(--green) !important;
}

.dataTables_wrapper .dataTables_length select {
    border: solid 2px var(--red) !important;
    border-radius: 3px !important;
    padding: 5px !important;
    background-color: transparent !important;
    padding: 4px !important;
}

.dataTables_wrapper .dataTables_filter {
    text-align: center !important;
}


.dataTables_wrapper .dataTables_filter input {

border: solid 2px var(--red) !important;
border-radius: 3px !important;
padding: 5px !important;
background-color: transparent !important;
margin-left: 3px !important;
}


.book_img{
width: 4em;
}

#button_livres{
justify-content:center !important;
text-align: center !important;
}

.separateur{
height:0.2em !important;
width:70% !important;
justify-content: center !important;
margin: 1em auto 5em auto !important;

}